$link-hover-color: #cecece;

.navbar {
  overflow: hidden;
  background-color: #111111;
  z-index: 9999;
  color: #fff;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
  }
}

.navbar__dropdown {
  float: left;
  overflow: hidden;
}

.navbar__dropdown-item {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  &:hover {
    color: $link-hover-color;
  }
}

.navbar__dropdown-content {
  display: none;
  position: absolute;
  background-color: #414141;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar__dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar__dropdown:hover .navbar__dropdown-content {
  display: block;
}

.navbar__btn-logout {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
}
