$navbar-color: #2b2b2b;
$color: #ffffff;
$color-hover: #63ceff;
$font-size: 14px;
$font-weight: 500;

.navbar {
  height: 50px;
  overflow: hidden;
  background-color: $navbar-color;
  color: $color;
  font-weight: $font-weight;
  padding-top: 14px;
  padding-left: 10px;
}

.navbar a {
  float: left;
  color: $color;
  font-size: $font-size;
  text-align: center;
  padding-right: 20px;
  text-decoration: none;
  &:hover {
    color: $color-hover;
  }
}

.navbar__dropdown {
  float: left;
  overflow: hidden;
}

.navbar__dropdown-item {
  font-size: $font-size;
  border: none;
  outline: none;
  padding: 0px;
  padding-right: 16px;
  margin: 0;
  background-color: inherit;
  font-family: inherit;
  font-weight: $font-weight;
  color: $color;
  &:hover {
    color: $color-hover;
  }
}

.navbar__dropdown-content {
  display: none;
  position: absolute;
  background-color: $navbar-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar__dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar__dropdown:hover .navbar__dropdown-content {
  display: block;
}

.navbar__btn-logout {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
