.overlay {
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9995;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
}

.modal {
  visibility: hidden;
  display: flex;
  align-items: center;
  width: 800px;
  height: 600px;
  background: #ffffff;
  overflow: scroll;
  border-radius: 10px;
  border: 1px solid #868686;
}

.modal__table {
  position: relative;
}

.modal__table th {
  position: sticky;
  top: 0;
  background-color: #222;
}

.modal__body {
  width: 100%;
  height: 100%;
  color: #000000;
}
