$font: "Roboto", "Courier New", Courier, monospace;
$primary-background: #2b3035;
$btn-primary: #0095da;
$btn-primary--hover: #00a5f1;

html {
  background-color: $primary-background;
  font-family: $font;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input {
  height: 40px;
  border: none;
}

.form__row {
  height: 40px;
}

.table {
  background-color: #e7e7e7;
  min-width: 1366px;
}

.table thead {
  font-weight: 600;
  background-color: #282d33;
}

.table td,
.table th {
  padding-left: 20px !important;
}

.table .form-buttons {
  text-align: center;
  padding: 0px;
}

.table-hover tr:hover td {
  background-color: #3e454d !important;
}

.top-search {
  padding: 10px 10px !important;
  background: #424e5e;
  color: #fff;
}

.top-search label {
  margin-left: 15px !important;
}

.top-search input {
  border-radius: 15px !important;
  margin-bottom: 5px !important;
  max-width: 200px;
}

.link-inside-button,
.link-inside-button:hover {
  color: #fff;
}

.btn {
  transition: 0.3s !important;
  padding: 10px;
  border-radius: 20px;
}

.btn--medium {
  width: 150px;
}

.btn--large {
  width: 300px;
}

.btn__primary {
  background-color: $btn-primary;
  color: #fff;
  border: 1px solid #00a2ff;
}

.btn__primary:hover {
  background-color: $btn-primary--hover;
}

.btn-icon-custom {
  color: #222;
  padding: 5px;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  top: 5;
}

.btn-icon-custom:hover {
  color: #fff;
}

.btn-icon-excluir {
  background-color: #c9312c;
}

.btn-icon-excluir:hover {
  background-color: #f71e17;
}

.btn-icon-alterar {
  background-color: #0095da;
}

.btn-icon-alterar:hover {
  background-color: #0eadf7;
}

.btn-icon-imprimir {
  background-color: #d4a200;
}

.btn-icon-imprimir:hover {
  background-color: #f0b800;
}

.disabled {
  border: 2px solid rgb(156, 0, 0) !important;
}

.field-size-1 {
  width: 10%;
  margin: 0px 7px 7px 0px;
}

.field-size-2 {
  width: 20%;
  margin: 0px 7px 7px 0px;
}

.field-size-3 {
  width: 25%;
  margin: 0px 7px 7px 0px;
}

.field-size-4 {
  width: 30%;
  margin: 0px 7px 7px 0px;
}

.field-size-5 {
  width: 35%;
  margin: 0px 7px 7px 0px;
}

#subirTopo {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: #0095da;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  font-family: sans-serif;
  transition: 0.3s;
}

#subirTopo:hover {
  background-color: #1cb7ff;
}

.form-custom {
  width: 500px;
  min-width: 500px;
  margin: 0 auto;
}

.form-custom .form-header {
  text-align: center;
}

.form-custom hr {
  background-color: #fff;
  margin-bottom: 30px;
}

.form-custom .div-btn-form-submit {
  width: fit-content;
  margin: 0 auto;
}

.form-custom .div-btn-form-submit .btn-form-submit {
  margin: 50px;
  width: 300px;
}

.form-create {
  padding: 30px 20px 50px 20px;
  background-color: #2b3035;
  color: #fff;
  min-width: 1366px;
}

.form-create .form-lines {
  margin-top: 20px;
  padding-left: 15px !important;
}

.form-create .form-header {
  text-align: center;
  text-transform: uppercase;
}

.form-create hr {
  background-color: #fff;
  margin-bottom: 30px;
}

.form-create .btn-submit {
  width: 150px;
  height: 40px !important;
  margin-left: 10px;
  margin-top: 30px;
  border: none !important;
}

.form-create .btn-submit-saida {
  width: 150px;
  height: 40px;
  margin-left: 10px;
  border: none !important;
}

:disabled {
  background-color: #999 !important;
  border: 0px !important;
}

.form-create .btn-cancel {
  width: 150px;
  height: 40px !important;
  margin-left: 10px;
  margin-top: 30px;
  background-color: #222;
  border: none;
}

.form-create small {
  text-align: center !important;
  display: block;
}

.form-create .buttons-form-group {
  width: fit-content;
  margin: 0 auto;
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 55px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  transition: all 0.4s;
  z-index: 9996;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-saida {
  visibility: hidden;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  background: #505050;
  transition: all 0.4s;
  border-radius: 20px;
  padding: 10px;
}

.modal-saida h4 {
  margin-top: 10px;
  text-align: center;
}

.modal-saida__body {
  width: 100%;
  overflow: scroll;
  padding-right: 20px;
}

.modal-saida__content {
  margin: 10px;
}

.modal-saida__table {
  background-color: #303030;
}

.modal-saida__table th {
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #000;
  padding: 5px;
}

.modal-saida__table td {
  border: 1px solid #000;
  padding: 5px 10px;
}

.modal-saida__footer {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.modal-saida__close:hover {
  color: #d3d3d3;
}

.modal-saida__btn-confirm {
  margin-right: 30px;
  width: 150px;
}

.modal-saida__btn-close {
  width: 150px;
}

.modal-saida__close:hover {
  background-color: #c70000;
  color: #fff;
}
