$font: "Roboto", sans-serif;
$primary-background: #2b3035;

html {
  background-color: $primary-background;
  font-family: $font;
  font-size: 14px;
  min-width: 1366px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font;
}

label {
  display: inline-block;
}

input,
select {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}

input[type="checkbox"] {
  width: 20px;
}

:disabled {
  background-color: #999 !important;
  border: 0px !important;
}
