.search-bar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.search-bar label {
  margin-right: 10px;
}
