.top-search {
  padding: 10px 10px !important;
  background: #424e5e;
  color: #fff;
}

.top-search label {
  margin-left: 15px !important;
}

.top-search input {
  border-radius: 15px !important;
  margin-bottom: 5px !important;
  max-width: 200px;
}
