.table {
  width: 100%;
  position: relative;
  text-align: left;
  border-collapse: collapse;
}

.table thead {
  height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
  background-color: #222;
  color: #fff;
}

.table thead th {
  padding-left: 15px;
}

.table td {
  padding: 5px 15px;
  border: none;
}

.table tr {
  border-bottom: 1px solid #cacaca;
}

.table tbody tr:hover {
  background-color: #e9e9e9;
}

.table .form-buttons {
  text-align: center;
  padding: 0px;
}

.table--freeze-header th {
  background-color: #222;
  position: sticky;
  top: 0;
}

.table--white {
  background-color: #ffffff;
  color: #000000;
}

.table--dark {
  background-color: #444444;
  color: #ffffff;
}
