html {
  height: 100%;
  background-color: #2b3035;
}

body {
  font-family: Roboto, "Courier New", Courier, monospace;
}

#root,
._container {
  width: 100% !important;
  min-width: 600px;
  margin-bottom: 100px;
}

.table {
  background-color: #e7e7e7;
  min-width: 1366px;
}

.table thead {
  font-weight: 600;
  background-color: #282d33;
}

.table td,
.table th {
  padding-left: 20px !important;
}

.table .form-buttons {
  text-align: center;
  padding: 0px;
}

.table-hover tr:hover td {
  background-color: #3e454d !important;
}

.top-search {
  padding: 10px 10px !important;
  background: #424e5e;
  color: #fff;
}

.top-search label {
  margin-left: 15px !important;
}

.top-search input {
  border-radius: 15px !important;
  margin-bottom: 5px !important;
  max-width: 200px;
}

/* Gradient background */
.login-gradient-trasition {
  width: 100wh;
  height: 100vh;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#0083ca), color-stop(#8e2073), to(#006195));
  background: -webkit-linear-gradient(left, #c7ca00, #ff4f4f, #0083ca, #21a300);
  background: -o-linear-gradient(left, #c7ca00, #ff4f4f, #0083ca, #21a300);
  background: linear-gradient(90deg, #c7ca00, #ff4f4f, #0083ca, #21a300);
  background-size: 800% 800%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

/* Gradient background */

.link-inside-button,
.link-inside-button:hover {
  color: #fff;
}

.btn {
  transition: 0.3s !important;
}

.btn-primary {
  background-color: #0095da !important;
  color: #fff !important;
  border: 1px solid #00a2ff !important;
  transition: 0.3s !important;
}

.btn-primary:hover {
  background-color: #22b4f8 !important;
}

.button-center {
  width: 200px;
  margin: 0 auto;
}

.btn-icon-custom {
  color: #222;
  padding: 5px;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  top: 5;
}

.btn-icon-custom:hover {
  color: #fff;
}

.btn-icon-excluir {
  background-color: #c9312c;
}

.btn-icon-excluir:hover {
  background-color: #f71e17;
}

.btn-icon-alterar {
  background-color: #0095da;
}

.btn-icon-alterar:hover {
  background-color: #0eadf7;
}

.btn-icon-imprimir {
  background-color: #d4a200;
}

.btn-icon-imprimir:hover {
  background-color: #f0b800;
}

.disabled {
  border: 2px solid rgb(156, 0, 0) !important;
}

.field-size-1 {
  width: 10%;
  margin: 0px 7px 7px 0px;
}

.field-size-2 {
  width: 20%;
  margin: 0px 7px 7px 0px;
}

.field-size-3 {
  width: 25%;
  margin: 0px 7px 7px 0px;
}

.field-size-4 {
  width: 30%;
  margin: 0px 7px 7px 0px;
}

#subirTopo {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: #0073ff;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  font-family: sans-serif;
}

#subirTopo:hover {
  background-color: #2386ff;
}

.form-custom {
  width: 500px;
  min-width: 500px;
  margin: 0 auto;
}

.form-custom .form-header {
  text-align: center;
}

.form-custom hr {
  background-color: #fff;
  margin-bottom: 30px;
}

.form-custom .div-btn-form-submit {
  width: fit-content;
  margin: 0 auto;
}

.form-custom .div-btn-form-submit .btn-form-submit {
  margin: 50px;
  width: 300px;
}

.form-create {
  padding: 30px 20px 50px 20px;
  background-color: #343a40;
  color: #fff;
  min-width: 1366px;
}

.form-create .form-lines {
  margin-top: 20px;
  padding-left: 15px !important;
}

.form-create .form-header {
  text-align: center;
}

.form-create hr {
  background-color: #fff;
  margin-bottom: 30px;
}

.form-create .btn-submit {
  width: 150px;
  height: 40px !important;
  margin-left: 10px;
  margin-top: 30px;
  border: none !important;
}

:disabled {
  background-color: #999 !important;
  border: 0px !important;
}

.form-create .btn-cancel {
  width: 150px;
  height: 40px !important;
  margin-left: 10px;
  margin-top: 30px;
  background-color: #222;
  border: none;
}

.form-create small {
  text-align: center !important;
  display: block;
}

.form-create .buttons-form-group {
  width: fit-content;
  margin: 0 auto;
}
/* 
.swal2-modal {
  background-color: #343a40 !important;
  box-shadow: 0px 0px 10px 0px #008cff;
}

.swal2-title,
.swal2-content {
  color: #fff !important;
  font-size: 18px !important;
}

.swal2-cancel {
  background-color: #111 !important;
}

.swal2-cancel:hover {
  background-color: #222 !important;
}

.swal2-icon {
  color: #fff !important;
}

.swal2-icon.swal2-question,
.swal2-icon.swal2-info,
.swal2-icon.swal2-alert {
  color: #fff !important;
  border-color: #fff !important;
} */
