.report {
  width: 95%;
  margin: 0px auto;
}

.report .row {
  margin: 0px !important;
}

.overlay-print {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 100%;
  height: 1600px;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 9996;
}

.btn-print {
  position: fixed;
  bottom: 5%;
  left: 40%;
  width: 250px;
  height: 70px;
  z-index: 9997;
  border: 1px solid rgb(255, 124, 124) !important;
  border-radius: 50px !important;
  box-shadow: -5px 5px 10px rgb(0, 0, 0, 0.4);
}

.report {
  background-color: #fff;
  padding-top: 10px;
  word-wrap: break-word;
}

.report-header {
  margin-bottom: 10px;
  font-weight: 600;
}

.report-header .label {
  font-weight: bold !important;
}

.report-table-body {
  height: 900px !important;
}

.report .report-header .col-sm-1,
.report .report-header .col-sm-2,
.report .report-header .col-sm-3,
.report .report-header .col {
  border: 1px solid #000;
  border-radius: 10px;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeeeee;
  height: fit-content;
}

.report > .report-header > .row > .col-sm-3:first-child {
  background-color: #fff;
  border: none;
}

.report .label {
  font-weight: 600;
}

.header-report-lines {
  font-weight: bold;
  padding: 0;
}

.report-table-header {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.report-body {
  height: 960px;
  margin: 20px 0px;
}

.report .table-report {
  background-color: #fff !important;
}

.report .table-report * {
  border: 1px solid #000;
  padding: 5px !important;
}

.report .table-report th {
  font-weight: bold;
  background-color: #eeeeee;
}

.report-footer {
  padding-bottom: 30px;
}

.report-footer .orientations {
  width: 100%;
  margin-bottom: 20px;
  text-align: justify;
}

.report-footer .footer-divisions {
  border: 1px solid #999;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 3px;
  font-size: 14px;
}

.sign-line {
  margin-top: 20px;
}

.coluna-tipo {
  font-size: 12px;
}
